<div class="drinks" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @cocktail.photo %>');">
  <h1><%= @cocktail.name %></h1>
    <div class="rating-title">
      <strong><%= @average_rating.to_f %></strong>
      <% case @average_rating %>
      <% when 1 %>
        <i class="fas fa-star stars"></i>
      <% when 2 %>
        <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i>
      <% when 3 %>
        <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i>
      <% when 4 %>
        <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class=  fas fa-star stars"></i>
      <% when 5 %>
        <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i>
      <% end %>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="links">
      <div class="back">
        <i class="fas fa-undo-alt"></i>
        <%= link_to 'Back', cocktails_path %>
      </div>
      <div class="add">
        <i class="fas fa-plus"></i>
        <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %><br>
        <i class="far fa-edit"></i>
        <%= link_to 'Add review', new_cocktail_review_path(@cocktail) %>
      </div>
    </div>
      <hr>
    <div class="col-sm-4 col-sm-offset-2">
      <ul class="list-unstyled">
        <li><strong>Ingredients</strong></li>
        <hr>
        <% @doses.each do |dose| %>
          <li><%= dose.description %> - <%= dose.ingredient.name %> <br>
          <%= link_to 'Delete ingredient', dose_path(dose) , method: "delete", id: "delete" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled">
        <li class="review-title">
          <strong>Reviews</strong>
        </li>
        <hr>
        <% unless @reviews.nil? %>
          <% @reviews.each do |review| %>
            <% case review.rating %>
            <% when "1" %>
              <i class="fas fa-star stars"></i><br><br>
              <li><%= review.content %><br><br>
              <%= link_to 'Delete review', review_path(review) , method: "delete", id: "delete" %></li>
              <hr>
            <% when "2" %>
              <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><br><br>
              <li><%= review.content %><br><br>
              <%= link_to 'Delete review', review_path(review) , method: "delete", id: "delete" %></li>
              <hr>
            <% when "3" %>
              <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><br><br>
              <li><%= review.content %><br><br>
              <%= link_to 'Delete review', review_path(review) , method: "delete", id: "delete" %></li>
              <hr>
            <% when "4" %>
              <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><br><br>
             <li><%= review.content %><br><br>
              <%= link_to 'Delete review', review_path(review) , method: "delete", id: "delete" %></li>
              <hr>
            <% when "5" %>
              <i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><i class="fas fa-star stars"></i><br><br>
              <li><%= review.content %><br><br>
              <%= link_to 'Delete review', review_path(review) , method: "delete", id: "delete" %></li>
              <hr>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
</div>
